<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="http_proxy" value="http://proxy.atiss.une.cu:8080" />
    <add key="http_proxy_user" value="edelkish" />
    <add key="http_proxy_password" value="Iklede12354*-+12354" />
    <add key="https_proxy" value="http://proxy.atiss.une.cu:8080" />
    <add key="https_proxy_user" value="edelkish" />
    <add key="https_proxy_password" value="Iklede12354*-+12354" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>
